services:
  dev:
    image: web-app-eks-sandbox-base:latest
    build:
      context: ./docker/base
      dockerfile: Dockerfile
      args:
        - UID=${USER_UID:-1000}
        - GID=${USER_GID:-1000}
    volumes:
      - $PWD:/workspace
      - cache-node:/workspace/node_modules
      - cache-mise:/home/ubuntu/.cache/mise
      - $PWD//.aws:/home/ubuntu/.aws
    environment:
      - GITHUB_TOKEN=${GITHUB_TOKEN:-""}
      - MISE_TRUSTED_CONFIG_PATHS=/workspace
    working_dir: /workspace
    user: ubuntu
    tty: true
    stdin_open: true
    profiles:
      - dev

volumes:
  # cache
  cache-mise:
  cache-node:
