services:
  traefik:
    image: traefik:v3.6.4
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--entrypoints.web.address=:8000"
    ports:
      - "127.0.0.1:8000:8000"
      - "127.0.0.1:8081:8080" # Traefik Dashboard
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - public_net
      - internal_net

  console:
    image: nginx:alpine
    volumes:
      - ./console/dist:/usr/share/nginx/html:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.console.rule=Host(`localhost`)"
      - "traefik.http.routers.console.entrypoints=web"
      - "traefik.http.services.console.loadbalancer.server.port=80"
      - "traefik.docker.network=internal_net"
      - "traefik.http.middlewares.console-strip.stripprefix.prefixes=/console"
      - "traefik.http.routers.console.middlewares=console-strip@docker"
    networks:
      - internal_net

networks:
  public_net:
    driver: bridge
  internal_net:
    driver: bridge
    internal: true
